.actionButton {
  background: none;
  color: inherit;

  border: none;
  padding: 0;
  margin: 0;

  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

.actionButton.disabled {
  cursor: initial;
  color: #888;
}

.iconFont {
  height: 1em;
  overflow: visible;
}

.terminalView {
  overflow-x: hidden;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.terminalCanvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  display: block;
}

.terminalBar {
  background: #eee;
  color: #000;
  fill: #000;
  font-size: 0.8em;
}

.terminalInfo, .terminalButton {
  padding: 3px;
  display: inline-block;
}

.terminalButtonsRight {
  float: right;
}

.terminalButton:hover { background: #ddd; }
.terminalButton.disabled:hover { background: none; }

.terminalInput {
  position: absolute;
  z-index: -1000;
  opacity: 0;
}

.terminalProgress {
  height: 2px;
  background: #333;
}
